.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }
  /* table, th, td {
    border: 1px solid black;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  } */