<form name="form" (ngSubmit)="forgotPassword()" #f="ngForm">
    <div class="row form-group">
        <div class="col-2">
            <label for="login"> Username</label>
        </div>
        <div class="col-7">
            <input type="text"  id="username" required  #username="ngModel" class="form-control" name="VendorMobile"
            [(ngModel)]="user.username" placeholder="Enter username">
            <div *ngIf="username.touched">
                <div *ngIf="username.errors && (username.invalid)">
                  <small class="text-danger" *ngIf="username.errors.required">username is required</small>
                  <small class="text-danger" *ngIf="username.errors.pattern">pls enter valid username</small>
                </div>
            </div>
        </div>
    </div>
<div class="row form-group">
    <div class="col-2">
        <label for="password"> pasword</label>
    </div>
    <div class="col-7">
        <input type="password"  id="pasword" required #pasword="ngModel"
            class="form-control" name="password" [(ngModel)]="user.password" placeholder="Enter pasword">
        <div *ngIf="pasword.touched">
            <div *ngIf="pasword.errors && (pasword.invalid)">
                <small class="text-danger" *ngIf="pasword.errors.required">pasword  is required</small>
                <small class="text-danger" *ngIf="pasword.errors.pattern">Password should have one number,special char,max length of 8 to 20</small> -->
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-2">
        <label for="cpassword"> confirmPassword</label>
    </div>
    <div class="col-7">
        <input type="password" id="confirmPassword" required #cp="ngModel"
            class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="Reenter password">
        <div *ngIf="cp.touched">
            <div *ngIf="cp.errors && (cp.invalid)">
                <small class="text-danger" *ngIf="cp.errors.required">confirmPassword  is required</small>
                <!-- <small class="text-danger" *ngIf="cp.errors.pattern">should match password</small> -->
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button [disabled]="f.invalid" type="submit" name="submit" class="form-control"
        class="btn btn-primary btn-md">Submit</button>
</div>
</form>
