 <nav class="navbar navbar-expand-lg bg-primary navbar-dark text-light">
    <section class="logo">
      <a href="#" class="navbar-brand">
        <h1>TWITTER</h1> 
        <img src="../../assets/images/th.png"  width="100" height="70"></a>
    </section>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarcollapse">
      <ul class="navbar-nav ml-auto">
<li *ngIf="flag === false" class="nav-item active">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>

  <li *ngIf="flag === false" class="nav-item active">
    <a class="nav-link" routerLink="/add">Register</a>
  </li>

  <li *ngIf="flag === true" class="nav-item active">
    <a class="nav-link" routerLink="/tweet">Home</a>
  </li>

  <li *ngIf="flag === true" class="nav-item active">
    <a class="nav-link" routerLink="/user">AllUsers</a>
  </li>

  <li *ngIf="flag === true" class="nav-item active">
    <a class="nav-link" routerLink="/myaccount">MyTweets</a>
  </li>

  <li *ngIf="flag === true" class="nav-item active">
    <a class="nav-link" routerLink="/search">Search</a>
  </li>

  <li *ngIf="flag === true" class="nav-item active">
    <a class="nav-link" routerLink="/login">Logout</a>
  </li>
</ul>
</section>
</nav>
